# 学习目标：
- 学习Pandas一些最重要的特性
- 使用Pandas 载入数据文件
- 使用Panads 从数据库中载入数据
- 使用Pandas 对数据进行探索、清洗、转换
- 数据可视化的基础知识

# 第1课：Pands基础
- 课程目标:
    - 了解Pandas库以及在数据分析中的重要性
    - 使用Pandas的数据导入和基本操作
- 内容：
    - Pandas库的安装和导入
    - Series和DataFrame的基本操作
    - 创建Series和DataFrame
    - 访问和修改DataFrame中的数据

## 介绍Pandas：
Pandas库是当今使用Python进行工作的数据科学家和分析师所使用的最重要的工具。强大的机器学习和迷人的可视化工具可能会吸引大家关注，但是，Pandas是大多数数据项目的基础。

[pandas]源自术语“panel data”，这是计量经济学中用于描述数据集的术语，这些数据集是对一些个体在多个时间段内的观察结果。——维基百科

## Pandas库的安装和导入

In [ ]:
# 使用conda install
conda install pandas

# 使用pip
pip install pandas

In [2]:
import pandas as pd
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

## Series和DataFrame的基本操作
- Series
- DataFrame

In [3]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2